{% load static %}
<!-- Toast Notification -->
<div id="toast" class="toast">
  <i id="toastIcon" class="fa-solid fa-check-circle"></i>
  <div class="toast-content">
    <div class="toast-message-row">
      <span id="toastMessage">Success!</span>
      <span id="toastPercent" class="toast-percent" style="display: none;">0%</span>
    </div>
    <div id="toastProgress" class="toast-progress" style="display: none;">
      <div id="toastProgressBar" class="toast-progress-bar"></div>
    </div>
  </div>
  <button class="toast-close" id="toastClose" style="display: none;">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
