{% load static %}
<!-- Search and Filter Bar -->
<div class="action-bar">
    <!-- Left Section - Filter, Image Sort and Search -->
    <div class="action-left">
        <div class="filter-group">
            <div class="custom-dropdown" id="filterDropdown">
                <button class="dropdown-toggle" id="filterToggle" type="button">
                    <span id="filterSelectedText">Filter</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="dropdown-options" id="filterOptions">
                    <div class="dropdown-option selected" data-value="all" data-field="all">All Fields</div>
                    {% for field in table.fields %}
                    {% if field.type != 'image' %}
                    <div class="dropdown-option" data-value="field" data-field="{{ field.name|upper }}">{{ field.name }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-settings" id="imageSortBtn" title="Filter by image status">
                <i class="fa-solid fa-image"></i> Image Sort
            </button>
        </div>
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="text" id="searchInput" placeholder="Search All..." class="search-input" autocomplete="off">
        </div>
    </div>
</div>
